<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Our.Umbraco.SearchSpellCheck.IndexName" value="SpellCheckIndex" />
		<add key="Our.Umbraco.SearchSpellCheck.IndexedFields" value="nodeName" />
		<add key="Our.Umbraco.SearchSpellCheck.AutoRebuildIndex" value="false" />
		<add key="Our.Umbraco.SearchSpellCheck.AutoRebuildDelay" value="5" />
		<add key="Our.Umbraco.SearchSpellCheck.AutoRebuildRepeat" value="30" />
	</appSettings>
</configuration>